$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap.theme.scss";

html,
body {
  height: 100%;
}

p {
  margin: 1em 0;
}

.nav {
  padding-right: 15px;
  font-size: 18px;
  li a {
    border-bottom: 1px solid #be4d35;
    color: #fff;
    &:hover {
      background-color: transparent;
      border-bottom: 1px solid #fff;
    }
    &:focus {
      background-color: transparent;
    }
  }
}

.react-simple-parallax-bg {
      background-image: url('../img/turbine5.jpg');
      height: 750px;
  }

.parallax {
    top: 250px;
    margin: auto;
}


.cirlcle {
  position: relative;
  width: 70px;
  background-color: transparent;
  margin: 0 auto 25px auto;
  border-left: solid 2px #333333;
  border-right: solid 2px #333333;
}

.modal-dialog {
  .modal-content {
    border-right: 8px solid #a2a2a2;
    border-left: 8px solid #a2a2a2;
    border-radius: 0;
    .close {
      font-size: 35px;
    }
  }
}

.contactTable {
  tbody > tr > td {
    padding: 15px;
    font-size: 18px;
  }
}
